.navbar{
    flex-direction: column;
    height: 80px;
    justify-content: center
    
}
#sec1-content{
    display: block;
}
.item{
    flex-direction: row-reverse;
}
.item *{
    margin-right: 8px;
}
#sec2{
    flex-direction: column;
}
#left{
    flex-basis: 200px;
}
#sec3-content div img{
    width: 4rem;
    height: 4rem;
}
#sec3-content div{
    margin: 10px 10px 10px 10px;
}
#sec4-container button{
    width: 100%;
}
#sec3-content div:last-child{
    display: none;
}