*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'btitr';
    src: url('../fonts/B\ Titr\ Bold_0.ttf');
}
@font-face {
    font-family: 'bnazanin';
    src: url('../fonts/B-NAZANIN.TTF');
}
body{
    font-family: 'bnazanin';
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 2px 10px 2px 10px;
    position: sticky;
    top: 0px;
}
.bg-dark{
    background-color: #333;
}
.text-primary{
    color: blue;
}
.navbar-nav{
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
}
.nav-item{
    margin-right: 15px;
    font-family: 'bnazanin';
}
.nav-link{
    padding: 2px 5px 2px 5px;
    border-radius: 7px;
}
.nav-link:hover{
    background-color: chocolate;
}
#header{
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/showcase.jpg') no-repeat;
    background-size: cover;
    color: white;
}
#header h1{
    font-family: 'btitr';
}
#header {
    font-size: 1.2rem;
}
.btn{
    border:none;
    background-color: blue;
    color: white;
    font-family: 'bnazanin';
    padding: 10px;
    border-radius: 7px;
    font-size: 1.1rem;
}
.btn:hover{
    background-color: white;
    color: blue;
}
.mt-1{
    margin-top: 1px;
}
.mt-2{
    margin-top: 2px;
}
.mt-3{
    margin-top: 3px;
}
.mb-1{
    margin-bottom: 1px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-3{
    margin-bottom: 3px;
}
.pt-1{
    padding-top: 1px;
}
.pt-2{
    padding-top: 2px;
}
.pt-3{
    padding-top: 3px;
}
.pb-1{
    padding-bottom: 1px;
}
.pb-2{
    padding-bottom: 2px;
}
.pb-3{
    padding-bottom: 3px;
}
