*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'btitr';
    src: url('../fonts/B\ Titr\ Bold_0.ttf');
}
@font-face {
    font-family: 'bnazanin';
    src: url('../fonts/B-NAZANIN.TTF');
}
body{
    font-family: 'bnazanin';
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 2px 10px 2px 10px;
    position: sticky;
    top: 0px;
}
.bg-dark{
    background-color: #333;
}
.text-primary{
    color: blue;
}
.navbar-nav{
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
}
.nav-item{
    margin-right: 15px;
    font-family: 'bnazanin';
}
.nav-link{
    padding: 2px 5px 2px 5px;
    border-radius: 7px;
}
.nav-link:hover{
    background-color: chocolate;
}
#header{
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/showcase.jpg') no-repeat;
    background-size: cover;
    color: white;
}
#header h1{
    font-family: 'btitr';
}
#header p{
    text-align: center;
}
#header {
    font-size: 1.2rem;
}
.btn{
    border:none;
    background-color: blue;
    color: white;
    font-family: 'bnazanin';
    padding: 10px;
    border-radius: 7px;
    font-size: 1.1rem;
}
.btn:hover{
    background-color: white;
    color: blue;
}
.mt-1{
    margin-top: 1px;
}
.mt-2{
    margin-top: 2px;
}
.mt-3{
    margin-top: 3px;
}
.mb-1{
    margin-bottom: 1px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-3{
    margin-bottom: 3px;
}
.pt-1{
    padding-top: 1px;
}
.pt-2{
    padding-top: 2px;
}
.pt-3{
    padding-top: 3px;
}
.pb-1{
    padding-bottom: 1px;
}
.pb-2{
    padding-bottom: 2px;
}
.pb-3{
    padding-bottom: 3px;
}
#sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sec1 h1{
    text-align: center;
    font-family: 'btitr';
}
#sec1-content{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.item i{
    color: blue;
    margin-bottom: 5px;
}
.item p{
    margin-top: 5px;
}
#sec2{
    display: flex;
    flex-direction: row;
    height: auto;
}
#left{
    background-image: url('../images/photo-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    flex: 1;
}
#right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 300px;
    color: white;
    padding: 5px 10px 5px 0px;
}
#right h3{
    font-family: 'btitr';
    padding: 5px 30px 5px 0px;
}
#right p{
    padding: 3px 10px 5px 0px;
    text-align: right;
}
#right ul{
    list-style: none;
    padding: 3px 10px 0px 0px;
    width: 70%;
}
#right ul li {
    border-bottom: dotted 1px #fff;
    text-align: right;
}
#sec3{
    margin-top: 5px;
    margin-bottom: 5px;
}
#sec3 h1{
    text-align: center;
    font-family: 'btitr';
}
#sec3-content{
    display: flex;
    justify-content: center;
}
#sec3-content div{
    flex-basis: 180px;
    margin: 10px 20px 10px 20px;
}
#sec3-content div img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
#sec4{
    display: flex;
    justify-content: center;
    text-align: right;
}
#sec4-container{
    width: 50%;
}
#sec4-container label{
    display: block;
    margin-top: 7px;
}
#sec4-container input, #sec4-container textarea{
    width: 100%;
    padding: 8px;
    direction: rtl;
}
#footer{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    color: white;
    padding: 10px 30px 10px 30px;
    align-items: center;
}